@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*header*/

:root {
  font-family: 'Roboto', sans-serif;
  --main-color: #213B7E;
  --text-color: #000000;
}

html {
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__image {
  display: flex;
  align-items: center;
  width: 47px;
  height: 47px;
  padding: 16px 0 17px 16px;
}

.header {
  margin: 0 70px;
  width: calc(100% - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--main-color);
  flex: 0 0 auto;
}

.header__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.list__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.link__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  transition: .1s;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

}

.link__text:hover {
  background: #FFFFFF;
  height: 80px;

}

.list__text:hover .link__text {
  color: #213B7E;
  text-decoration: none;
}

.active-link {
  color: #213B7E;
  background: #d2d2d2;
  height: 80px;
  text-decoration: none;
}

.fontbold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
}

.header__button {
  width: 153px;
  height: 50px;
  background: #EA5D21;
  cursor: pointer;
  margin-right: 16px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  transition: .3s;
}

.header__button:hover {
  opacity: .6;
}

/*content*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.content__title {
  margin: 33px auto 25px 286px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.content__map {
  margin: 0 86px;
  width: calc(100% - 172px);
  min-height: 380px;
  height: 100%;
}

.content__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin: 15px auto 10px 288px;
}

.content__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.content__text:nth-of-type(1) {
  margin: 0 auto 20px 288px;
}

.content__text:nth-of-type(2) {
  margin: 0 auto 0 288px;
  text-decoration: underline;
}

/*footer*/

.footer {
  margin: 360px 70px 0 70px;
  width: calc(100% - 140px);
  height: 60px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.footer__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
}

.footer__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
}

/* media */

@media screen and (max-width: 1023px) {
  .header__image {
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    padding: 16px 0 17px 16px;
  }

  .header__button {
    width: 120px;
    height: 40px;
    margin: 16px 16px 17px 0;
  }

  .header {
    margin: 0 30px;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--main-color);
  }

  .content__title {
    margin: 35px auto 25px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }

  .content__map {
    margin: 0 30px;
    width: calc(100% - 60px);
    min-height: 345px;
    height: 100%;
  }

  .content__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin: 18px auto 10px auto
  }

  .content__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .content__text:nth-of-type(1) {
    margin: 0 auto 25px auto;
  }

  .content__text:nth-of-type(2) {
    margin: 0 auto 0 auto;
  }

  .footer {
    margin: 360px 30px 0 30px;
    width: calc(100% - 60px);
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header__image {
    padding: 16px 0 10px 0;
  }

  .header__button {
    margin: 10px auto 10px auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: calc(100% - 40px);
  }

  .header__list {
    display: block;
    gap: 10px;
  }

  .link__text:hover {
    background: #FFFFFF;
    height: 30px;
  }

  .link__text {
    font-size: 18px;
  }

  .active-link {
    color: #213B7E;
    background: #d2d2d2;
    height: 30px;
    text-decoration: none;
  }

  .content__title {
    margin: 33px auto 25px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }

  .content__map {
    margin: 0 20px;
    width: calc(100% - 40px);
    min-height: 170px;
    height: 100%;
  }

  .content__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin: 20px auto 15px auto;
  }

  .content__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .content__text:nth-of-type(1) {
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .content__text:nth-of-type(2) {
    margin: 0 auto 0 auto;
  }

  .footer {
    margin: 370px 20px 0 20px;
    width: calc(100% - 40px);
    height: 50px;
  }

  .footer__text {
    font-size: 15px;
  }

  .footer__link {
    font-size: 15px;
  }
}