.root {
    background-image: url(../images/fonn.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    /*растягивает на весь экран*/
    background-repeat: no-repeat;
    /*не повторяет*/
}

.header {
    margin: 0 50px;
    width: calc(100% - 100px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background: rgb(166, 193, 171);
}

.return {
    width: 142px;
    height: 40px;
    background: rgb(67, 67, 177);
    cursor: pointer;
    margin-right: 16px;
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    transition: .3s;
}

.header__text {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-left: 30px;
}

.heading {
    color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content:nth-of-type(1n) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(35, 35, 35);
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-left: 30px;
}

.images {
    max-width: 388px;
    height: 416px;
    border-radius: 20px;
}

.images__child {
    width: 300px;
    height: 370px;
    border-radius: 20px;
}

.images__wife {
    width: 300px;
    height: 370px;
    border-radius: 20px;
}

.images__rab {
    min-width: 230px;
    height: 300px;
    border-radius: 20px;
}

.images__rab1 {
    max-width: 380px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.container__rab {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sobor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.images__sobor {
    width: 50%;
    border-radius: 20px;
}

.footer {
    margin: 30px 50px 0 50px;
    width: calc(100% - 100px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(166, 193, 171);
}

.footer__text {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-left: 30px;
}